
.contenedor-principal{
    position: absolute;
    text-align: center ;
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/imagenes/composition-birthday-elements.jpg);
    background-size: cover;
    overflow: -moz-hidden-unscrollable;
    
}

a{
    text-decoration: none;
    color: azure;
}

.phome{

    font-size: medium;
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-size: 40px;
    text-shadow: 1px 1px 20px -5px rgba(0,0,0,0.35);;;
    margin-bottom: 1cm;
    
}

.buttonI{
    margin-top: 1cm;
    background: rgb(73, 222, 241);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    
}

h1{
    margin-top: 1cm;
    padding-top: 1cm;
    font-size: 60px;
}

.noticia{
    width: 100vw;
    height: 100vh;
    text-shadow: 20px;
    background-image: url(./assets/imagenes/5208092.jpg);
    background-size: cover;
    text-align: center;
    padding: 1cm;
    font-size: 20px;
    overflow:auto;
    
    
}

.h1noticia{
    font-size: 60px;
    text-shadow: 10px
}
p{
    
    font-size: medium;
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-size: 40px;
    text-shadow: 1px 1px 20px -5px rgba(0,0,0,0.35);;;
    margin-bottom: 1cm;
}

.nav{
    margin-left: 20cm;
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.botonoticia{
    text-decoration-line: none;
    background: rgb(73, 222, 241);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.divfoto{
    margin-left: 5cm;
    text-align: start;
}

.containerGalery{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/imagenes/5208092.jpg);
    background-size: cover;
    transition: all 300ms;
}

.divh2{
    margin-top: 1cm;
}

.containerfoto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-radius: 30px;
    border-color: aquamarine;
    margin-top: 1cm;
    box-shadow: 3px 3px 25px -10px rgba(0,0,0,0.35); 
    display: flex; 
    height: 600px;
    width: 700px;
    align-items: center;
    background-image: url(./assets/imagenes/istockphoto-1386740242-612x612.jpg);
    background-size:cover;
    background-position: center;
    transition: background 10s cubic-bezier(0.175, 0.885, 0.32, 1.275)
   
}

.perro{
    margin-top: 1cm;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    border-color: black;
    color: rgb(51, 45, 45);
    text-shadow: 1px 1px 20px -5px rgba(0,0,0,0.35);;;
    text-align: center;
    visibility: hidden;
}

.descubrelo{
    margin-top: 0;
    margin-bottom: 2px;
    background: rgb(233, 20, 49);
    cursor: pointer;
    border: none;
    padding: 22px 40px;
    color: azure;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}
.descubrelo2{
    margin-top: 0;
    background: rgb(73, 222, 241);
    cursor: pointer;
    border: none;
    padding: 22px 40px;
    color: azure;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    border-radius: 12px; 
}
#evento-click{
    display: none;
}

#evento-click2{
    display: none;
}

#evento-click2:checked ~ .descubrelo{
    visibility: hidden;
}

#evento-click2:checked ~ .descubrelo2{
    visibility: hidden;
}

#evento-click:checked ~ .containerGalery{
    background-image: url(./assets/imagenes/vecteezy_baby-shower-cute-background-illustration_23802191.jpg);
    background-size: cover;
    background-position: center center;
}

#evento-click2:checked ~ .containerfoto{

    
    background-image: url(./assets/imagenes/IMG_0446.jpeg);
    background-size: cover;
    background-position: center center;

}

#evento-click2:checked ~ .perro{
    visibility: visible;
}







